googletrans
pandas
fastapi_jwt_auth
dnspython==2.3.0
uvicorn
langchain==0.0.284
fastapi
python-multipart
python-jose
pymongo[srv]
passlib[bcrypt]
langchain
openpyxl
openai
pypdf
tiktoken
bs4
multiprocessing