googletrans
pandas
fastapi_jwt_auth
dnspython==2.3.0
uvicorn==0.22.0
langchain==0.0.284
fastapi
python-multipart
python-jose
pymongo[srv]
passlib[bcrypt]
langchain
openpyxl
openai
pypdf
langchain-groq
langchain_core
tiktoken
bs4